@model CharacterViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="header clearfix detailHeading">
    <h2 class="text-muted">@Model.Name</h2>
</div>
<div class="row">
    <div>
        @*TODO:
            Да фиксна появяването на снимките в Catalogue и Detail - Index и тук - да видя как
                да ги взема от 2-те различни папки или да сложа default-ната снимка при останалите
            Да направя снимката да варира в height и width*@
        @*TODO: да измисля хубав дизайн*@
        <a>
            <img src="~/Pictures/Images/CharacterImages/@(Model.ImagePath)" height="300" width="250" />
        </a>

        <h2>Overall</h2>
        <div class="row">
            <div class="row">
                <div class="col-sm-6">
                    <div><strong>Name:</strong> @Model.Name</div>
                </div>
                <div class="col-sm-2">
                    <div><strong>Age:</strong> @Model.Age</div>
                </div>
                <div class="col-sm-2">
                    <div><strong>Gender:</strong> @Model.Gender</div>
                </div>
                <div class="col-sm-4">
                    <div><strong>Nickname:</strong> @Model.Nickname</div>
                </div>
                <div class="col-sm-4">
                    <div><strong>Race:</strong> @Model.Race</div>
                </div>
                <div class="col-sm-4">
                    <div><strong>Religion:</strong> @Model.Religion</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Birthday</strong> (date and/or birthday oddity): @Model.Birthday</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Death</strong> (date and/or cause): @Model.Death</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Bond</strong> (physical, spiritual/mental): @Model.Bond</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Disabilities:</strong> @Model.Disabilities</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Occupation:</strong> @Model.Occupation</div>
                </div>

                <div class="col-sm-12">
                    <div><strong>Profession:</strong> @Model.Profession</div>
                </div>

                <div class="col-sm-12">
                    <div><strong>Hobbies:</strong> @Model.Hobbies</div>
                </div>

                <div class="col-sm-12">
                    <div><strong>Skills:</strong> @Model.Skills</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Skills they lack:</strong> @Model.SkillsTheyLack</div>
                </div>
            </div>
            <p></p>


            <h2>Family, chilhood and past</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div><strong>Stratum:</strong> @Model.Stratum</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Marital status:</strong> @Model.MaritalStatus</div>
                </div>

                <div class="col-sm-12">
                    <div><strong>Family:</strong> @Model.Family</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Family information:</strong> @Model.FamilyInfo</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Family crest:</strong> @Model.FamilyCrest</div>
                </div>

                <div class="col-sm-12">
                    <div><strong>Education:</strong> @Model.Education</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Languages spoken:</strong> @Model.LanguagesSpoken</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Background:</strong> @Model.Background</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Inheritance:</strong> @Model.Inheritance</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Chronical disease:</strong> @Model.ChronicalDisease</div>
                </div>
            </div>
            <p></p>


            <h2>Physical and special abilities</h2>
            <div class="col-sm-12">
                <div><strong>Athletic ability:</strong> @Model.AthleticAbility</div>
            </div>
            <div class="col-sm-12">
                <div><strong>Special ablilty:</strong> @Model.SpecialAblilty</div>
            </div>
            <p></p>


            <h2>Face and head characteristic</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div><strong>Eyes color:</strong> @Model.EyeColor</div>
                </div>
                <div class="col-sm-4">
                    <div><strong>Hair color:</strong> @Model.HairColor</div>
                </div>
                <div class="col-sm-4">
                    <div><strong>Face shape:</strong> @Model.FaceShape</div>
                </div>
                <div class="col-sm-5">
                    <div><strong>Facial hair:</strong> @Model.FacialHair</div>
                </div>
                <div class="col-sm-7">
                    <div><strong>Hair texture:</strong> @Model.HairTexture</div>
                </div>
            </div>
            <p></p>


            <h2>Physical traits</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div><strong>Skin tone:</strong> @Model.SkinTone</div>
                </div>
                <div class="col-sm-3">
                    <div><strong>Height:</strong> @Model.Height</div>
                </div>
                <div class="col-sm-5">
                    <div><strong>Body type:</strong> @Model.BodyType</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Clothes:</strong> @Model.Clothes</div>
                </div>
            </div>
            <p></p>


            <h2>Distinctive features</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div><strong>Habits:</strong> @Model.Habits</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Odds:</strong> @Model.Odds</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Trait:</strong> @Model.Trait</div>
                </div>

                <div class="col-sm-6">
                    <div><strong>Birthmarks:</strong> @Model.Birthmarks</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Scars:</strong> @Model.Scars</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Tatoos:</strong> @Model.Tatoos</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Piercing:</strong> @Model.Piercing</div>
                </div>

                <div class="col-sm-8">
                    <div><strong>Voice:</strong> @Model.Voice</div>
                </div>
            </div>
            <p></p>


            <h2>Mental traits</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div><strong>Personality:</strong> @Model.Personality</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>Emotional state:</strong> @Model.EmotionalState</div>
                </div>

                <div class="col-sm-6">
                    <div><strong>Motivation:</strong> @Model.Motivation</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Fears:</strong> @Model.Fears</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Goals:</strong> @Model.Goals</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Regrets:</strong> @Model.Regrets</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Admires of/Like:</strong> @Model.AdmireOf</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Dispise/Dislike:</strong> @Model.Despise</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Ideal:</strong> @Model.Ideal</div>
                </div>
                <div class="col-sm-6">
                    <div><strong>Vices:</strong> @Model.Vices</div>
                </div>

                <div class="col-sm-12">
                    <div><strong>Internal conflicts:</strong> @Model.InternalConflicts</div>
                </div>
                <div class="col-sm-12">
                    <div><strong>External conflicts:</strong> @Model.ExternalConflicts</div>
                </div>
            </div>
            <p></p>
        </div>

        @*TODO: BETTER Authent*@
        @if (User.Identity.IsAuthenticated)
        {
            <div class="main main-raised">
                <div class="profile-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <form asp-controller="Character" asp-action="Edit" method="post" asp-route-Id="@Model.Id">
                                        <button type="submit" class="btn btn-secondary">Edit</button>
                                    </form>
                                    <form asp-controller="Character" asp-action="DeleteCharacter" method="post" asp-route-Id="@Model.Id">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @*TODO*@
        <div>
            <p></p>
            <p>User's _____: (imagine) drop-down list of user's things + button</p>
            <p>Top rated user's books</p>
        </div>
    </div>
</div>