@model CharacterViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-controller="Character" asp-action="EditCharacter" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <input asp-for="Id" value="@Model.Id" type="hidden" class="form-control">
    </div>


    <h2>Overall</h2>
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Name"><strong>Name</strong></label>
                    <input asp-for="Name" value="@Model.Name" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label asp-for="Age"><strong>Age</strong></label>
                    <input asp-for="Age" value="@Model.Age" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-1">
                <label asp-for="Gender"><strong>Gender</strong></label>
                <div class="row">
                    <select style="background-color:#5fb152; color: white" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="File"><strong>Image</strong></label>
                    <div class="row">
                        <input asp-for="File" value="@Model.ImagePath" type="file">
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Nickname"><strong>Nickname</strong></label>
                    <input asp-for="Nickname" value="@Model.Nickname" type="text" class="form-control">
                </div>
            </div>


            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Race"><strong>Race</strong></label>
                    <input asp-for="Race" value="@Model.Race" type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Religion"><strong>Religion</strong></label>
                    <input asp-for="Religion" value="@Model.Religion" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Birthday"><strong>Birthday</strong> (date and/or birthday oddity)</label>
                    <input asp-for="Birthday" value="@Model.Birthday" type="text" class="form-control">

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Death"><strong>Death</strong> (date and/or cause)</label>
                    <input asp-for="Death" value="@Model.Death" type="text" class="form-control">

                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Bond"><strong>Bond</strong> (physical, spiritual/mental)</label>
                    <input asp-for="Bond" value="@Model.Bond" type="text" class="form-control">

                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Disabilities"><strong>Disabilities</strong></label>
                    <input asp-for="Disabilities" value="@Model.Disabilities" type="text" class="form-control">

                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Occupation"><strong>Occupation</strong></label>
                    <input asp-for="Occupation" value="@Model.Occupation" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Profession"><strong>Professions</strong></label>
                    <input asp-for="Profession" value="@Model.Profession" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Hobbies"><strong>Hobbies</strong></label>
                    <input asp-for="Hobbies" value="@Model.Hobbies" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Skills"><strong>Skills</strong></label>
                    <input asp-for="Skills" value="@Model.Skills" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="SkillsTheyLack"><strong>Skills they lack</strong></label>
                    <input asp-for="SkillsTheyLack" value="@Model.SkillsTheyLack" type="text" class="form-control">
                </div>
            </div>
        </div>
        <p></p>

        <h2>Family, chilhood and past</h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Stratum"><strong>Stratum</strong></label>
                    <input asp-for="Stratum" value="@Model.Stratum" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="MaritalStatus"><strong>Marital status</strong></label>
                    <input asp-for="MaritalStatus" value="@Model.MaritalStatus" type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Family"><strong>Family</strong></label>
                    <input asp-for="Family" value="@Model.Family" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="FamilyInfo"><strong>Family information</strong></label>
                    <input asp-for="FamilyInfo" value="@Model.FamilyInfo" type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Education"><strong>Education</strong></label>
                    <input asp-for="Education" value="@Model.Education" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="LanguagesSpoken"><strong>Languages Spoken</strong></label>
                    <input asp-for="LanguagesSpoken" value="@Model.LanguagesSpoken" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Background"><strong>Background</strong></label>
                    <input asp-for="Background" value="@Model.Background" type="text" class="form-control">
                </div>
            </div>
        </div>
        <p></p>




        <h2>Physical and special abilities</h2>
        <div class="col-sm-12">
            <div class="form-group">
                <label asp-for="AthleticAbility"><strong>Athletic ability</strong></label>
                <input asp-for="AthleticAbility" value="@Model.AthleticAbility" type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label asp-for="SpecialAblilty"><strong>Special ablilty</strong></label>
                <input asp-for="SpecialAblilty" value="@Model.SpecialAblilty" type="text" class="form-control">
            </div>
        </div>
        <p></p>


        <h2>Face and head characteristic</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="EyeColor"><strong>Eyes color</strong></label>
                    <input asp-for="EyeColor" value="@Model.EyeColor" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="HairColor"><strong>Hair color</strong></label>
                    <input asp-for="HairColor" value="@Model.HairColor" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="FaceShape"><strong>Face shape</strong></label>
                    <input asp-for="FaceShape" value="@Model.FaceShape" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="FacialHair"><strong>Facial hair</strong></label>
                    <input asp-for="FacialHair" value="@Model.FacialHair" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label asp-for="HairTexture"><strong>Hair texture</strong></label>
                    <input asp-for="HairTexture" value="@Model.HairTexture" type="text" class="form-control">
                </div>
            </div>
        </div>
        <p></p>


        <h2>Physical traits</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="SkinTone"><strong>Skin tone</strong></label>
                    <input asp-for="SkinTone" value="@Model.SkinTone" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Height"><strong>Height</strong></label>
                    <input asp-for="Height" value="@Model.Height" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="BodyType"><strong>Body type</strong></label>
                    <input asp-for="BodyType" value="@Model.BodyType" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Clothes"><strong>Clothes</strong></label>
                    <input asp-for="Clothes" value="@Model.Clothes" type="text" class="form-control">
                </div>
            </div>
        </div>
        <p></p>


        <h2>Distinctive features</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Habits"><strong>Habits</strong></label>
                    <input asp-for="Habits" value="@Model.Habits" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Odds"><strong>Odds</strong></label>
                    <input asp-for="Odds" value="@Model.Odds" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Trait"><strong>Trait</strong></label>
                    <input asp-for="Trait" value="@Model.Trait" type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Birthmarks"><strong>Birthmarks</strong></label>
                    <input asp-for="Birthmarks" value="@Model.Birthmarks" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Scars"><strong>Scars</strong></label>
                    <input asp-for="Scars" value="@Model.Scars" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Tatoos"><strong>Tatoos</strong></label>
                    <input asp-for="Tatoos" value="@Model.Tatoos" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Piercing"><strong>Piercing</strong></label>
                    <input asp-for="Piercing" value="@Model.Piercing" type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-8">
                <div class="form-group">
                    <label asp-for="Voice"><strong>Voice</strong></label>
                    <input asp-for="Voice" value="@Model.Voice" type="text" class="form-control">
                </div>
            </div>
        </div>
        <p></p>


        <h2>Mental traits</h2>
        <div class="row">
            <p>
                * Note that the personality and emotional state (mostly if unstable) can affect most (if not every)
                aspect of one life. Consider the connection between the different traits when writing down your hero.
            </p>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="Personality"><strong>Personality</strong></label>
                    <input asp-for="Personality" value="@Model.Personality" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="EmotionalState"><strong>Emotional state</strong></label>
                    <input asp-for="EmotionalState" value="@Model.EmotionalState" type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Motivation"><strong>Motivation</strong></label>
                    <input asp-for="Motivation" value="@Model.Motivation" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Fears"><strong>Fears</strong></label>
                    <input asp-for="Fears" value="@Model.Fears" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Goals"><strong>Goals</strong></label>
                    <input asp-for="Goals" value="@Model.Goals" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Regrets"><strong>Regrets</strong></label>
                    <input asp-for="Regrets" value="@Model.Regrets" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="AdmireOf"><strong>Admires of/Like</strong></label>
                    <input asp-for="AdmireOf" value="@Model.AdmireOf" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Despise"><strong>Dispise/Dislike</strong></label>
                    <input asp-for="Despise" value="@Model.Despise" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Ideal"><strong>Ideal</strong></label>
                    <input asp-for="Ideal" value="@Model.Ideal" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Vices"><strong>Vices</strong></label>
                    <input asp-for="Vices" value="@Model.Vices" type="text" class="form-control">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="InternalConflicts"><strong>Internal conflicts</strong></label>
                    <input asp-for="InternalConflicts" value="@Model.InternalConflicts" type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label asp-for="ExternalConflicts"><strong>External conflicts</strong></label>
                    <input asp-for="ExternalConflicts" value="@Model.ExternalConflicts" type="text" class="form-control">
                </div>
            </div>


        </div>
        <p></p>
    </div>

    <p></p>

    <div class="form-group">
        <div class="btn-group col-md-offset-2 col-md-6">
            <input class="btn btn-primary" type="submit" name="" value="Update" />
        </div>
    </div>
</form>